@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  h1,h2{
    font-family: "Rubik 80s Fade", "cursive"
  }
}

body{
  margin: 0;
  background: radial-gradient(circle, rgba(173,232,237,1) 0%, rgba(179,180,255,1) 100%);
}